.navbar-inner .container {
  margin-left: 2em;
  margin-right: 2em;
}

#footer {
  padding-top: 40px;
  padding-left: 40px;
}

#footer a {
  text-decoration: none;
  color: #ddd;
}

.nav > li > a {
  display: inline-block;
}
