h1 { font: 300 2em Helvetica; }
h2 { font: 100 2em Helvetica; }
h3 { font: 300 1.5em Helvetica; }
h4 { font: 100 1.5em Helvetica; }
h5 { font: 100 1.2em Helvetica; }
h6 { font: 300 1.1em Helvetica; }

a  {
  color: #222;
}

a:hover {
  color: #B11;
  text-shadow: 0px 0px 4px #AAA;
}

.clear-both {
  clear: both;
}

.navbar-inner .container {
  margin-left: 2em;
  margin-right: 2em;
}

#footer {
  position: fixed;
  right: 0px;
  bottom: 0px;
  font-size: 0.75em;
  padding-top: 3em;
  padding-left: 1em;
}

.nav > li > a {
  display: inline-block;
}

.andi-bg {
  min-height: 450px;
  background: url(http://dav.iboard.cc/container/andi_altendorfer_background_blur.png);
  /*background: rgb(200,200,200);*/
}

.bird-bg {
  padding: 2em;
  min-height: 450px;
  border-radius: 0.25em;
  /*background: url(http://dav.iboard.cc/container/birds_background.png);*/
}

.sidebar-top {
  font: 100 1em Helvetica;
  background: #eee !important;
  padding: 2em;
}

.sidebar-bottom {
  font: 100 1em Helvetica;
  background: #444 !important;
  color: #eee !important;
  padding: 2em;
}

