.bird-bg
  %h1 My daily used links ...
  %br/

  .row-fluid
    .span4
      %h3 Ruby, Ruby On Rubyails:
      %ul.nav.nav-pills 
        %li <a href='http://api.rubyonrails.org'><i class='icon-book'></i> Ruby On Rails API</a>
        %li <a href='http://railscasts.com'><i class='icon-film'></i> Railscasts<small> (Ryan Bates)</small></a>
        %li <a href='http://devblog.avdi.org'><i class='icon-book'icon-book></i> Virtuous Code<small> (Avdi Grimm)</small></a>
        %li <a href='http://blog.grayproductions.net/'><i class='icon-book'></i> Shades of Gray<small> (James Edward Gray II)</small></a>
        %li <a href='http://pragdave.pragprog.com/'><i class='icon-book'></i> Dave Thomas<small> (Pragmatic Programmer)</small></a>
        %li <a href='https://rubytapas.dpdcart.com/subscriber/content'><i class='icon-film'></i> RubyTapas<small> (Avdi Grimm)</small></a>
        %li <a  href='http://ruby5.envylabs.com'><i class='icon-bullhorn'></i> Ruby5<small> (EnvyLabs)</small></a>

    .span4
      %h3 Cheets
      %ul.nav.nav-pills 
        %li <a href='http://httpstackoverflow.com'><i class='icon-eye-open'></i> Stackoverflow</a>
        %li <a href='http://english.stackexchange.com/'><i class='icon-eye-open'></i> English Language &amp; Usage</a>
        <li classs='nav'><a href='http://twitter.github.com/bootstrap/base-css.html#icons'><i class='icon-eye-open'></i> Twitter Bootstrap Icons</a>
        <li   class='nav'><a href='http://www.lagmonster.org/docs/vi.html'><i class='icon-eye-open'></i> vi cheet-table</a>

  .row-fluid
    .span4
      %h3 Current Github-interests:
      %ul.nav.nav-pills 
        %li <a href='http://github.com'><i class='icon-comment'></i> Github Startpage</a>

    .span4
      %h3 Clean Code
      %ul.nav.nav-pills 
        %li <a href='httpstackoverflow://plus.google.com/communities/102254766235917977549'><i class='icon-user'></i> Google-community</a>
        %li <a href='http://www.cleancoders.com'><i class='icon-film'></i> CleanCoders<small> (Uncle Bob)</small></a>

  .row-fluid
    .span4
      %h3 News, Pods, ...
      %ul.nav.nav-pills 
        %li <a href='http://rubyrogues.com/'><i class='icon-share-alt'></i> Ruby Rogues</a>
        %li <a href='http://chadfowler.com/'><i class='icon-share-alt'></i> Chad Fowler</a>
        %li <a href='http://www.inc.com/author/jason-fried/'><i class='icon-share-alt'></i> Jason Fried</a>

    .span4
      %h3 Not about Programming
      %ul.nav.nav-pills 
        %li <a href='http://www.ted.com/'><i class='icon-share-alt'></i> TED Talks</a>
        %li <a href='https://medium.com/'><i class='icon-share-alt'></i> Medium ... what matters</a>

