.div

  .row-fluid
    .span12
      %h1 Development
    .span4
      %h3 Coding
      %ul.nav.nav-pills
        %li <a href='http://github.com/iboard'><i class='icon-comment'></i> Github</a>
        %li <a href='https://bitbucket.org/n0ckenfell'><i class='icon-comment'></i> BitBucket</a>
        %li <a href='https://gist.github.com/iboard'><i class='icon-comment'></i>Gists</a>
        %li <a href='https://coderbits.com/n0ckenfell'><i class='icon-comment'></i>Coderbits</a>
        %li <a href='https://geekli.st/iboard'><i class='icon-comment'></i>GeekLi.st</a>
        %li <a href='https://koding.com/'><i class='icon-comment'></i>Koding.com</a>

    .span4
      %h3 Clean Code
      %ul.nav.nav-pills
        %li <a href='http://plus.google.com/communities/102254766235917977549'><i class='icon-user'></i> Google-community</a>
        %li <a href='http://blog.8thlight.com/uncle-bob/archive.html'><i class='icon-comment'></i>Uncle Bob's Blog</a>
        %li <a href='http://www.cleancoders.com'><i class='icon-film'></i> CleanCoders<small> (Uncle Bob)</small></a>
        %li <a href='http://blog.cleancoder.com/'><i class='icon-film'></i> blog.cleancoder<small> (Uncle Bob)</small></a>
    .span8
      %h3 Agile
      %ul.nav.nav-pills
        %li <a href="http://www.agilemanifesto.org">Agile Manifesto</a> (I signed by the way)
        %li <a href="https://agilealliance.org">Agile Alliance</a>
        %li <a href="http://www.scaledagileacademy.com">Scaled Agile Academy</a>

  .row-fluid
    .span12
      %h1 Other Links
    .span4
      %h3 Ruby, Ruby On Rubyails:
      %ul.nav.nav-pills
        %li <a href='http://api.rubyonrails.org'><i class='icon-book'></i> Ruby On Rails API</a>
        %li <a href='http://railscasts.com'><i class='icon-film'></i> Railscasts<small> (Ryan Bates)</small></a>
        %li <a href='http://devblog.avdi.org'><i class='icon-book'icon-book></i> Virtuous Code<small> (Avdi Grimm)</small></a>
        %li <a href='http://blog.grayproductions.net/'><i class='icon-book'></i> Shades of Gray<small> (James Edward Gray II)</small></a>
        %li <a href='http://pragdave.pragprog.com/'><i class='icon-book'></i> Dave Thomas<small> (Pragmatic Programmer)</small></a>
        %li <a href='https://rubytapas.dpdcart.com/subscriber/content'><i class='icon-film'></i> RubyTapas<small> (Avdi Grimm)</small></a>
        %li <a href='http://ruby5.envylabs.com'><i class='icon-bullhorn'></i> Ruby5<small> (EnvyLabs)</small></a>
        %li <a href='http://iboard.core.s3-website.eu-central-1.amazonaws.com/static/'><i class='icon-book'></i>S3.index</a>

    .span4
      %h3 Cheating
      %ul.nav.nav-pills
        %li <a href='http://stackoverflow.com'><i class='icon-eye-open'></i> Stackoverflow</a>
        %li <a href='http://english.stackexchange.com/'><i class='icon-eye-open'></i> English Language &amp; Usage</a>
        %li <a href='http://glyphicons.getbootstrap.com/'><i class='icon-eye-open'></i> Twitter Bootstrap Icons</a>
        %li <a href='http://www.lagmonster.org/docs/vi.html'><i class='icon-eye-open'></i> vi cheat-table</a>
        %li <a href='http://rtorruellas.com/vim-cheat-sheet/'><i class='icon-eye-open'></i> vim cheat mobile</a>
        %li <a href='http://vimbits.com/'><i class='icon-eye-open'></i> VimBits</a>
        %li <a href='http://www.openbsd.org/cgi-bin/man.cgi?query=tmux&sektion=1'><i class='icon-eye-open'></i> TMUX man page</a>


  .row-fluid
    .span4
      %h3 Screencasts &amp; Blogs
      %ul.nav.nav-pills
        %li <a href='http://www.rakefieldmanual.com/'><i class='icon-book'></i> Rake Book</a>
      %h3 News, Pods, ...
      %ul.nav.nav-pills
        %li
          <a href='http://rubyrogues.com/'><i class='icon-share-alt'></i> Ruby Rogues</a> | <a href='http://parley.rubyrogues.com/'><i class='icon-share-alt'></i> Parley</a>
        %li <a href='http://words.steveklabnik.com/'><i class='icon-share-alt'></i> Steve Klabnik</a>
        %li <a href='http://chadfowler.com/'><i class='icon-share-alt'></i> Chad Fowler</a>
        %li <a href='http://www.inc.com/author/jason-fried/'><i class='icon-share-alt'></i> Jason Fried</a>

    .span4
      %h3 Not all about Programming
      %ul.nav.nav-pills
        %li <a href='http://goodreads.com/n0ckenfell'><i class='icon-book'></i>GoodRead</a>
        %li <a href='http://www.ted.com/'><i class='icon-share-alt'></i> TED Talks</a>
        %li <a href='https://medium.com/'><i class='icon-share-alt'></i> Medium ... what matters</a>
        %li <a href='https://medium.com/on-coding'><i class='icon-share-alt'></i> Medium - on Coding</a>
        %li <a href='https://feedly.com/#my'><i class='icon-share-alt'></i> Feed.ly</a>

