.offset1
  .readme{style: 'min-height: 340px;'}
    %h1 
      iboard.github.com
    %p 
      You may fork this website and edit files in `templates/`.
      Then run rake and push the repository to your own Github-page
  
    %p
      <a href='http://github.com/iboard/iboard.github.com' class='btn btn-warning'>Fork from Github</a>