.hero.readme.andi-bg
  %h1 
    iboard.github.com
  %h3 
    github-pages made easy with
    %code rake
    = '.'
  %p 
    You can fork this website and edit files in 
    %code templates/
    and
    %code pages/
  %p
    Then run 
    %code rake 
    and push the repository to your own Github-page. 
    %br/
    That easy.

  %p

  %h1 The Project
  %p 
    This is the source to generate my github-page `iboard.github.com`.
  %p
    See: <a href='http://pages.github.com/'>Github Pages</a>

  %h3 Usage
  %ol
    %li <a href='http://github.com/iboard/iboard.github.com' class='btn btn-success'>Fork from Github</a>
    %li  
      edit files in 
      %code pages/*html.erb
    %li
      edit files in 
      %code templates/*
      (optional)
    %li 
      run 
      %code rake
      will generate static web-pages and opens index.html
    %li 
      run 
      %code rake -T
      to see more rake-task

  %h3
    Issues

  %p
    <a href='https://github.com/iboard/iboard.github.com/issues'>Read, submit issues</a>

  %h3 Contact

  %p Please email to andreas@iboard.cc

