.div
  %h1 iBoard.cc
  %br/
  %p
    %br/

  .row-fluid
    .span5
      %h3 My Open Source
      %p
      %ul.nav.nav-list.paragraphed
        %li
          %a{href:'http://yarb.iboard.cc/'}
            YARB – Simple Rails4 Starter Application using PStore
        %li <a href='https://git.geekli.st/public/projects?utf8=%E2%9C%93&search=iboard'>git.geekli.st</a>
        %li <a href='https://github.com/iboard/wat#wat-webapplicationtemplate'>WAT Web Application Template</a>
        %li <a href='https://github.com/iboard/CBA#cba---community-base-application-template'>CBA Community Base Application</a>
        %li <a href='https://github.com/iboard/sorted_array'>Sorted Array</a>
        %li <a href='https://github.com/iboard/jsort'>jSort</a> – A gem to sort by drag & drop
        %li <a href='https://github.com/iboard/rst'>Ruby Shell Tools</a> – A Curses Experiment
      %ul.nav.nav-list
        %li <a href='https://gist.github.com/iboard'>My Gists</a>

    .span5
      %h3 Samples &amp; Experiments
      %p
      %ul.nav.nav-list.paragraphed
        %li <a href='https://github.com/iboard/agol'>My ruby implementation of 'Conway's Game Of Life'</a>
        %li <a href='https://github.com/iboard/sortable_name_class'>Sortable Name Class (ruby)</a>
      %ul.nav.nav-list.paragraphed
        %li.centered.gap-top <a href='http://github.com/iboard' class='btn btn-warning'>Me on Github ...</a>


