.hero-unit
  %h1 iBoard.cc
  %br/
  %p
    %br/

  %h3 Open Projects
  %p
  %ul.nav.nav-list
    %li <a href='https://github.com/iboard/wat#wat-webapplicationtemplate'>WAT Web Application Template</a></li>
    %li <a href='https://github.com/iboard/CBA#cba---community-base-application-template'>CBA Community Base Application</a></li>
    
    %p
      %br/        
  
  <a href='http://github.com/iboard' class='btn btn-warning'>Fork me on Github ...</a>
