.hero-unit.bird-bg
  %h1 iBoard.cc
  %br/
  %p
    %br/

  %h3 My Open Source
  %p
  %ul.nav.nav-list
    %li <a href='https://github.com/iboard/wat#wat-webapplicationtemplate'>WAT Web Application Template</a></li>
    %li <a href='https://github.com/iboard/CBA#cba---community-base-application-template'>CBA Community Base Application</a></li>
    %li <a href='https://github.com/iboard/sorted_array'>Sorted Array</a></li>
    %li <a href='https://github.com/iboard/jsort'>jSort</a> – A gem to sort by drag & drop</li>
    %li <a href='https://github.com/iboard/rst'>Ruby Shell Tools</a> – A Curses Experiment</li>

    %p
      %br/

  <a href='http://github.com/iboard' class='btn btn-warning'>Me on Github ...</a>
