.hero-unit.bird-bg
  %h1 iBoard.cc
  %br/
  %p
    %br/
 
  .row-fluid
    .span5
      %h3 My Open Source
      %p
      %ul.nav.nav-list
        %li 
          %strong Current Project
          %br/
          %a{href:'https://github.com/iboard/yarb'}
            YARB – Simple Rails4 Starter Application
          %br/
          %a{href:'http://yarb.iboard.cc/pages/welcome'}
            Who The F* Needs A Database
          %small
            Rails 4 with 
            %em ActiveModel
            but without an ORM, just basic 
            %em PStore-Files
        %li.separator
        %li.separator
        %li <a href='https://github.com/iboard/wat#wat-webapplicationtemplate'>WAT Web Application Template</a>
        %li <a href='https://github.com/iboard/CBA#cba---community-base-application-template'>CBA Community Base Application</a>
        %li <a href='https://github.com/iboard/sorted_array'>Sorted Array</a>
        %li <a href='https://github.com/iboard/jsort'>jSort</a> – A gem to sort by drag & drop
        %li <a href='https://github.com/iboard/rst'>Ruby Shell Tools</a> – A Curses Experiment
      %ul.nav.nav-list
        %li <a href='https://gist.github.com/iboard'>My Gists</a>

    .span5
      %h3 Samples &amp; Experiments
      %p
      %ul.nav.nav-list
        %li <a href='https://github.com/iboard/agol'>My ruby implementation of 'Conway's Game Of Life'</a>
        %li <a href='https://github.com/iboard/sortable_name_class'>Sortable Name Class (ruby)</a>

      %h3 World Wide Education
      %p 
        I'm the head of software-development at WWEDU.
        You can reach me at <a href=mailto:andreas.altendorfer@wwedu.com>andreas.altendorfer@wwedu.com</a>
      %address
        World Wide Education WWEDU GmbH<br/>
        Dragonerstrasse 38<br/>
        4600 Wels<br/>
        Austria<br/>
        <a href=http://wwedu.com>wwedu.com</a>

  .row-fluid
    .span10
      %center
        %br/
        %br/
        <a href='http://github.com/iboard' class='btn btn-warning'>Me on Github ...</a>
  %br/
  %p.clear-both
