.sidebar-top
  %h3 Collaboration
  %ul.nav.nav-pull
    %li <a href='https://plus.google.com/u/0/b/106087911322992966237/'>G+ Collaboration Page</a>
    %li <a href='https://groups.google.com/forum/?hl=en&fromgroups#!forum/iboard-collaboration'>Discussions (Google Group)</a>
    %li <a href='https://plus.google.com/b/106087911322992966237/communities/102254766235917977549'>Clean Coders G+ Community</a>
    %li <a href='https://www.youtube.com/channel/UChH6ka-7pLeiqOIFfyqBE0w/'>Programming Kitchen YouTube-channel</a>
  %h3 About ...
  %ul.nav.nav-pull
    %li <a href='http://about.me/andreas.altendorfer'>about.me ...</a>
    %li <a href='https://plus.google.com/+AndreasAltendorfer'>+Andreas Altendorfer</a>
    %li <a href='https://plus.google.com/+AltendorferAT'>TheProgrammingKitchen</a>
    %li <a href='http://twitter.com/Nickendell'>@nickendell</a>
    %li <a href='http://andi.altendorfer.at'>Web</a>
    %li <a href='http://tumblr.iboard.cc'>Blog</a>
  .stackoverflow
    %h3 Stack Overflow
    <a href="http://stackoverflow.com/users/1428652/nockenfell">
    <img src="http://stackoverflow.com/users/flair/1428652.png" width="208" height="58" alt="profile for Nockenfell at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Nockenfell at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
