.sidebar-top
  %h3 Collaboration
  %ul.nav.nav-pull
    %li <a href='http://github.com/WWEDU'>WWEDU@Github (staff only)</a> 
    %li <a href='https://groups.google.com/forum/?hl=en#!forum/wwedu-developer'>WWEDU@Discussion (staff only)</a> 
    %li <a href='https://plus.google.com/u/0/b/106087911322992966237/'>Follow my G+ Page on collaboration</a>
    %li <a href='https://groups.google.com/forum/?hl=en&fromgroups#!forum/iboard-collaboration'>Discuss on Google Group</a>
    %li <a href='https://plus.google.com/b/106087911322992966237/communities/102254766235917977549'>Clean Coders G+ Community</a>
  %h3 About ...
  %ul.nav.nav-pull
    %li <a href='http://about.me/andreas.altendorfer'>about.me ...</a>
    %li <a href='http://andi.altendorfer.at'>Andi Altendorfer</a>
    %li <a href='http://twitter.com/Nickendell'>@nickendell</a>
    %li <a href='https://plus.google.com/u/0/116071098827301487282/about/p/pub'>+Andreas Altendorfer</a>
    %li <a href='https://plus.google.com/u/0/b/106087911322992966237/106087911322992966237/about/p/pub'>+Collaboration</a>

  
