.well
  %h3 Collaboration
  %ul.nav.nav-pull
    %li <a href='http://github.com/WWEDU'>WWEDU</a>
    %li <a href='https://plus.google.com/u/0/b/106087911322992966237/'>Collaboration Page</a>
  %h3 About ...
  %ul.nav.nav-pull
    %li <a href='http://about.me/andreas.altendorfer'>about.me ...</a>
    %li <a href='http://andi.altendorfer.at'>Andi Altendorfer</a>
    %li <a href='http://twitter.com/Nickendell'>@nickendell</a>
    %li <a href='https://plus.google.com/u/0/116071098827301487282/about/p/pub'>+Andreas Altendorfer</a>
    %li <a href='https://plus.google.com/u/0/b/106087911322992966237/106087911322992966237/about/p/pub'>+Collaboration</a>

  
